# os
.DS_Store

# cache
__pycache__/

# yaml file
annotations.yaml

# sqlite database
data/

# node
node_modules/

# build output
dist/
server/*.js
server/*.js.map

# test coverage
coverage/

# frontend prototype
prototype/node_modules/
prototype/dist/
